@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* src/App.css */
.App {
  margin-top: 0%;
  font-style: "Roboto", sans-serif;
  background-color: rgb(233, 234, 236);
}

.navbar {
  background-color: #28a745;
  padding: 20px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-left: 20px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}

.navbar li {
  margin-right: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.5s;
}

.navbar a:hover {
  color: #919b0b;
}

main {
  padding: 0px;
  margin: opx;
}
.Home h1{
  color: #28a745;
  display: flex;
  align-items: center;
}